.item {
    padding: 16px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    color: white !important;
    font-size: 14px;
    font-family: Roboto;
    cursor: pointer;

    svg {
        font-size: 32px;
        margin-bottom: 10px;
    }

    @media (max-width:580px) {
        & {
            padding: 8px;
        }

        svg {
            font-size: 3vh;
            margin-bottom: 0;
        }
    }
}

.active {
    background-color: var(--primary-color);
}

.deactive {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.new {

    

    svg {
        font-size: 32px;
    }

    height: fit-content;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: white !important;
    border: 2px solid white;
    border-style: dashed;
    cursor: pointer;

    @media (max-width:580px) {
        & {
            padding: 8px;
        }

        img {
            width: 3vh;
            margin-bottom: 0;
        }
    }
}