.bg {
    background: rgba(243, 246, 249, 1);
    display: flex;
    padding: 25px;
    overflow-y: auto;
    position: relative;

}

.sidebar {
    background-color: var(--primary-dark-color);
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 25px;
}

.contents {
    &::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow: auto;
    height: 80%;
}
