.container {
    background-color: white;
    height: 100vh;
    padding: 10px;
    width: 100%;
    display: grid;
    align-content: space-between;

    hr {
        color: #F3F3F3;
        border-color: solid #F3F3F3;
    }
}

.button {
    width: 100%;
    cursor: pointer;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(169, 167, 188, 1);
    text-decoration: none;
}

.h_line {
    background-color: #F3F3F3;
    width: 1px;
    height: 20px;
    margin: 0 15px;
}

.title_box {
    p {
        font-weight: bold;
    }

    padding: 0 30px 32px 30px;
    font-size: 16px;
}

.car_image {
    width: 100% !important;
    height: auto !important;
    border-radius: 16px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.di_button {
    background: rgba(249, 249, 249, 1);
    border-radius: 8px;
    padding: 14px 22px;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}

.content {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 30px;

    h3 {
        font-size: 16px;
        font-weight: 300;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        color: #828282;
    }

    a {
        color: #828282;
        text-decoration: none;
    }
}