@media screen and (device-aspect-ratio: 2/3) {

  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {

  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 375/667) {

  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media (max-width: 720px) {

  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}


body {

  position: absolute !important;
  top: env(safe-area-inset-top, 20px) !important;
  bottom: env(safe-area-inset-top, 20px) !important;
  left: 0;
  right: 0;
  width: 100%;
  height: -webkit-fill-available;
  overflow: auto;
}

:root {
  --primary-color: #1940CB;
  --primary-dark-color: rgba(1, 12, 48, 1);
  --primary-soft-color: rgba(25, 64, 203, 0.05);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
}


p,
span,
a,
div {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 12px;
}

.p-2 {
  padding: 16px;
}

.mt-3 {
  margin-top: 16px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mt-4 {
  margin-top: 24px !important;
}

.mt-5 {
  margin-top: 32px !important;
}


.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.mb-6 {
  margin-bottom: 48px !important;
}

.mt-6 {
  margin-top: 58px !important;
}

.mt-7 {
  margin-top: 68px !important;
}

.text-start {
  text-align: start;
}