.primary {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.error {
    background-color: rgba(241, 65, 108, 1);
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.outline {
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.soft {
    background-color: var(--primary-soft-color);
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.text {
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
