.container { 
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow-y: hidden;
    
    @media (max-width: 900px) {
        & {
            overflow-y: scroll !important;
        }
    }
}